body{
    background-color: black;
    text-align: center;   
}
h1{
    color: rgb(98, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(98, 0, 255);
    font-family: 'Courier New', Courier, monospace;
} 